@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-5">Ejercicio CRUD de Contactos en .NET 5 + MVC + EntityFramework</h2>
    <br />
    <img src="https://facturama.mx/img/facturama_logo.webp" class="img-fluid" alt="Facturama Logo">
</div>
